<!-- wp:template-part {"slug":"header","theme":"twentytwentyfive-child"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

  <!-- wp:columns {"align":"full","className":"scrollable-columns"} -->
  <div class="wp-block-columns alignfull scrollable-columns">

    <!-- Colonna 1 -->
    <!-- wp:column {"width":"25%"} -->
    <div class="wp-block-column" style="flex-basis:25%">
      <div class="col-inner">
        [acf field="col_1"]
      </div>
    </div>
    <!-- /wp:column -->

    <!-- Colonna 2 -->
    <!-- wp:column {"width":"25%"} -->
    <div class="wp-block-column" style="flex-basis:25%">
      <div class="col-inner">
        [acf field="col_2"]
      </div>
    </div>
    <!-- /wp:column -->

    <!-- Colonna 3 -->
    <!-- wp:column {"width":"25%"} -->
    <div class="wp-block-column" style="flex-basis:25%">
      <div class="col-inner">
        [acf field="col_3"]
      </div>
    </div>
    <!-- /wp:column -->

    <!-- Colonna 4 -->
    <!-- wp:column {"width":"25%"} -->
    <div class="wp-block-column" style="flex-basis:25%">
      <div class="col-inner">
        [acf field="col_4"]
      </div>
    </div>
    <!-- /wp:column -->

  </div>
  <!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentyfive-child"} /-->
